#dicCover
    .col-lg-8.col-lg-offset-2
        h2.text-center Bet Dictionary
        table.table.table-striped
            thead
                tr
                    th oddType
                    th meaning
            tbody
                tr
                    td 1
                    td Home Winnig
                tr
                    td X
                    td Draw
                tr
                    td 2
                    td Away Winning
                tr
                    td over1.5
                    td the match ends with more than 1 goal
                tr
                    td over2.5
                    td the match ends with more than 2 goals
                tr
                    td under3.5
                    td the match ends with goals less than 3
                tr
                    td BTTS
                    td Both Teams to Score
        