footer
    p.text-center
       a(href="https://www.udemy.com/")
        img.image(src="/icons/facebook.png")
       a(href="https://web.twitter.com")
        img.image(src="/icons/twitter.png")
       a(href="https://web.instagram.com")
        img.image(src="/icons/instagram.png")
    p.text-center our Email : bongobets@gmail.com
    p.text-center contact us : +255 714 240939 / +255 713 456767
        
    