.table-responsive.col-lg-10.col-lg-offset-1.jumbotron
    h2.text-center History
        table.table
            thead
                tr
                    th Date
                    th Home
                    th Away
                    th Pick
                    th Score
            tbody
                tr.s
                    td 28/7/2018
                    td Real Madrid
                    td espanyol
                    td Over
                    td 2-2
                tr.s
                    td 28/7/2018
                    td LiverPool
                    td ManCity
                    td 1
                    td 4-0
                tr.d
                    td 28/7/2018
                    td sevilla
                    td villareal
                    td under3.5
                    td 1-1
                tr.s
                    td 28/7/2018
                    td Goztepe
                    td Fernabahce
                    td 2
                    td 0-3          