doctype
html
    head
        title bongoBets
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/style.css")
    body
        h1.text-center bongoBets
           
        .container
            nav.navbar.navbar-inverse
                ul.nav.navbar-nav
                    li
                        a Home
                    li
                        a History
                    li
                        a Rules
                    li
                        a Dictionary
                    li  
                        a ContactUs
                    li
                        a LogIn
           
            section
              
                .table-responsive.jumbotron.col-lg-10.col-lg-offset-1
                    h2#hDate
                    table.table#today
                        thead
                            tr
                                th Time
                                th League
                                th Home
                                th Away
                                th Pick
                                th Odd
                        tr
                            td 15:00
                            td Epl
                            td Chelsea
                            td ManUtd
                            td 1X
                            td 1.7
                        tr
                            td 15:00
                            td laLiga
                            td barCelona
                            td Numancia
                            td 1
                            td 1.4
                        tr
                            td 17:50
                            td Bundasliga
                            td Schalke04
                            td WenderBremen
                            td X
                            td 1.8
                        tr
                            td 19:00
                            td Seria A
                            td Huesca
                            td Sampdoria
                            td Over2.5
                            td 1.6
                        tr
                            td 22:00
                            td ligue1
                            td Nice
                            td AsMonaco
                            td BTTS(Yes)
                            td 1.9
                include history.pug
              
                hr 
                include rules.pug 
                br
                include dictionary.pug
                br
        include footer.pug
           
            
        script(src="script.js")
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")