doctype
html
    head
        title bongoBets
    body
        h1 bongoBets
            .container
                nav
                    ul
                        li home
                        li History
                        li sheria
                        li aboutUs
                        li ContactUs
                section
                footer
                    p.
                        copyright 2018
        script(src="")