doctype
html
    head
        title bongoBets
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/responsive.css")
    body
        h1.text-center bongoBets
           
        .container
            include nav.pug
            br
            section
                #home.table-responsive.jumbotron.col-lg-10.col-lg-offset-1
                    h2#hDate
                    table.table#today
                        thead
                            tr
                                th.hide-mob Time
                                th League
                                th Home
                                th Away
                                th Pick
                                th.hide-mob Odd
                        tr
                            td.hide-mob 15:00
                            td Epl
                            td Chelsea
                            td ManUtd
                            td 1X
                            td.hide-mob 1.7
                        tr
                            td.hide-mob 15:00
                            td laLiga
                            td barCelona
                            td Numancia
                            td 1
                            td.hide-mob 1.4
                        tr
                            td.hide-mob 17:50
                            td Bundasliga
                            td Schalke04
                            td WenderBremen
                            td X
                            td.hide-mob 1.8
                        tr
                            td.hide-mob 19:00
                            td Seria A
                            td Huesca
                            td Sampdoria
                            td Over2.5
                            td.hide-mob 1.6
                        tr
                            td.hide-mob 22:00
                            td ligue1
                            td Nice
                            td AsMonaco
                            td BTTS(Yes)
                            td.hide-mob 1.9
                include history.pug
              
                hr 
                include rules.pug 
                br
                include dictionary.pug
                br
        include footer.pug
           
            
        script(src="script.js")
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")