nav
    ul
        li
            a#homeLink Home
        li
            a#historyLink History
        li 
            a#tipsLink Tips
        li
            a#dictionary Dictionary
        li
            a LogIn