.row 
    #navWrapper.col-lg-10.col-lg-offset-1
        nav.navbar
            div.container-fluid
                div.navbar-header
                    a bongoBets
                ul.nav.navbar-nav.navLeft
                    li
                        a Home
                    li
                        a History
                    li
                        a rules
                    li
                        a dictionary
                ul.nav.navbar-nav.navbar-right.row
                    li.col-xs-6
                        a#login LogIn
                    li.col-xs-6
                        a#signup SignUp