#rules
    br
    h3.text-center Betting Tips
    #ruleCover
        h4 1.get organized
            p choose matches based on your experience. if you do not believe in a match avoid it
        h4 2.Do not Get Greedy
            p it's easy to loose keep it simple one to two matches three maximum
        h4  3.Learn from your losses
            p no one like's to loose, where, why, when, how do u loose
        h4  4.Don't be part of the crowd
            p you need to know yourself
        h4  5.Get ready for loosing runs
            p they are inevitable