
/* background media */
@media screen and (max-width: 768px){
    body{
        background: none;
        background-color: black;
    }
}

@media screen and (min-width: 601px){
    body{
        background-position:50% 60%;
    }
}

@media screen and (max-width: 650px){
    .hide-mob{
        display: none;
    }
   
}

@media screen and (max-width: 480px){
    .hide-mob-xs{
        display: none;
    }
   
}


/* navigation media */

@media screen and (max-width: 768px){
    nav {
        display: none;
    }
    #rules{
        display: none;
    }
    #dicCover{
        display: none;
    }
}

