
/* background media */
@media screen and (max-width: 768px){
    body{
        background: none;
        background-color: black;
    }
}

@media screen and (min-width: 601px){
    body{
        background-position:50% 60%;
    }
}

@media screen and (max-width: 650px){
    .hide-mob{
        display: none;
    }
   
}

@media screen and (max-width: 480px){
    .hide-mob-xs{
        display: none;
    }
   
}



/* navigation media */

@media screen and (max-width: 768px){
    .navLeft{
        display: none;
    }
    
    .stickyNav{
    position: static;

    }
    
    #rules{
        display: none;
    }
    #dicCover{
        display: none;
    }
}
/* when the device is below 1200px remove header*/
@media screen and (max-width: 1200px){
    .navLeft li a{
       margin-left: 5px;
       width: 102px;
    }
    .navbar-header{
        display: none;
    }
}

/* when the device is below 950 the stickyNav should 
widenUp */
@media screen and (max-width: 950px){
    .stickyNav{
        left: 5%;
        width: 90%;
    }
}


/* for kindle fire and ipad above height 1000*/

@media screen and(min-height: 1000px){
    body{
        background-image: none;
    }
}


