body{
    background-image: url(images/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    /*background-color: rgb(60,160,255);*/
    /*background-color: black;*/
}

h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
}

/* navigation menu */
nav{
    border-top: 1px solid white;
    background-color: black;
}
nav ul{
    list-style: none;
    width:500px;
    margin: 0px auto;
}

nav ul li{
     display: inline-block;
    text-decoration: none;
}

nav ul li a{
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    color: white; 
    text-align: center;
    margin: 7px;
}

nav ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: green;
  
}


#today{
    font-size: 25px;
}
.s{
    background-color: green;
    color: white;
}
.d{
    background-color: red;
    color: white;
}

hr{
    outline: none;
    clear: both;
    height: 2px;
    width: 100%;
    background-color: ;
}

/* rules */


#rules{
    height: 330px;
    background-color: rgb(220, 220, 220);
}

#rules h3{
   
}

#ruleCover{
    padding-left: 20px;
}


/*dictionary*/
#dicCover{
   height: 400px;
   background-color: rgb(220, 220, 220);
}
/*footer*/
footer {
    position: static;
    bottom: 0;
    height: 130px;
    background-color: White;
}

footer p {
    font-size: 18px;
}
footer p {
    margin-top: 10px;
}
footer p a{
    display: inline-block;
    margin-top: 10px;
    width: 70px;
    cursor: pointer;
}

footer p a img{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    
}

footer p a img:hover{
    border-radius: 0;
    height: 35px;
    width: 35px;
}